<h1>Bascer</h1>
    <p>Comunidad que Recicla - Economía Solidaria</p>
        <img src = "/image/background1.jpg">
        <br>
<h5 class="center">Modelo de Reciclaje</h5>
    <p class="light">hay días específicos para deshacernos de cada tipo de residuo y también instrucciones muy precisas sobre cómo debemos hacerlo.Por ejemplo, en casa las botellas de plástico se lavan, se les quita la etiqueta y el tapón y se separan en una bolsa aparte; los tetrapack se lavan y se doblan correctamente para que ocupen el mínimo espacio y la recogida de residuos especiales (cacerolas, paraguas, artículos rotos) también se realiza en días especiales y debe estar perfectamente señalizada con unas etiquetas identificativas.los edificios no tienen cubos de basura, sino un espacio habilitado para que los vecinos dejen ahí las bolsas de residuos según el día y el tipo de recogida, siempre dentro de las horas establecidas.El reciclaje no es una obligación exclusiva en las casas, sino también en la calle. Cada persona es responsable de los residuos que genere, también en la calle</p>
        <img src = "/image/background2.jpg">
        <br>
        <h5 class="center">Economía Solidaria</h5>
        <br>
    <p class="light">“Hoy en día la basura es un producto distinto a como era antes.  No solo es basura, es un negocio“,los dueños de casa y de empresa filtran los desechos: la materia orgánica se separa, el papel se arroja a los contenedores de reciclaje y cualquier objeto que puede ser rescatado y reutilizado se separa.Descuentos por ropa usada, Las sobras de los medicamentos,Hamburguesas por botellas vacías, todo el mundo ordena su basura. Los hogares separan sus periódicos, plásticos, metal, vidrio, pilas, bombillas y cartón. De esta manera creativa en alianzas estrategicas por sector será posible obtener bonos sociales de ayuda para los emigrantes y otras situaciones además de acumular puntos para el encuentro con los campesinos en plazas de mercado y realizar un trueque que beneficie mutuamente. </p>
    <br>
    <img src = "/image/background3.jpg">
<h5 class="center">Bascer App</h5>
    <br>
  <p class="light">El buen hábito de seleccionar los residuos día a día, clasificarlos ( vidrio, plástico, chatarra, organicos e inorganicos, peligrosos, aluminio, papel, cartón), es la tarea de generar el correcto reciclamiento de materias primas. Alianza con la app del Ministerio del medio ambiente acerca del reciclaje, Incentivar actividad de reciclaje a partir de la adecuada selección, limpieza, secado y deposito en los contenedores acumulando puntos, Formas informativas y desarrollo para redimir puntos en alianzas estratégicas con actividades en panaderías, plazas de mercado y bonos sociales (bocado para el emigrante), y otros.
</p